.addition-product {
  width: 320px;
  margin: 0 auto;

  &__title {
    width: 280px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 29px;
    padding-bottom: 32px;
    border-bottom: 1px solid #cdcdcd;
  }

  &__list {
    width: 280px;
    margin: 0 auto;
  }

  &__bounty {
    position: relative;
    display: block;
    width: 280px;
    min-height: 287px;
    margin: 0 auto;
    padding-top: 1px;
    margin-bottom: 35px;
  }
}

.addition-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 40px;

  &__item {
    width: 280px;
    padding-top: 14px;
    padding-bottom: 17px;
    border-bottom: 1px solid #858585;
  }

  &__title {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
  }

  &__value {
    width: 280px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #858585;
    margin-bottom: 13px;
    border-collapse: collapse;
  }

  &__button {
    display: block;
    width: 280px;
    margin: 0 auto;
    background-color: #68b738;
    color: white;
    padding: 10px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }
}

.value-list__name:last-of-type {
  text-align: right;
}

.bounty-element {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  text-decoration: none;

  &__content {
    margin: 0 auto;
    margin-top: 185px;
    color: white;
    width: 164px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  &__icon {
    position: absolute;
    width: 56px;
    height: 64px;
    top: 65px;
    left: 50%;
    margin-left: -28px;
    background-image: url("../img/icon-gift.svg");
  }
}

/*----Tablet version----*/
@media (min-width: 700px) {
  .addition-product {
    width: 768px;
    margin: 0 auto;

    &__title {
      width: 708px;
      margin: 0 auto;
    }

    &__list {
      width: 708px;
      margin: 0 auto;
    }

    &__bounty {
      width: 708px;
      margin: 0 auto;
    }
  }

  .addition-list {
    &__item {
      width: 708px;
      display: flex;
      flex-wrap: wrap;
    }

    &__button {
      width: 608px;
      padding: 0 50px;
    }
  }
}

/*----Tablet version----*/
@media (min-width: 1200px) {
  .addition-product {
    width: 1300px;

    &__title {
      width: 1220px;
      padding: 40px;
      margin: 0 auto;
    }

    &__list {
      width: 1220px;
      padding: 40px;
      margin: 0 auto;
    }

    &__bounty {
      width: 245px;
      display: block;
    }

    &__wrap {
      width: 1220px;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
  }

  .addition-list {
    &__item {
      width: 895px;
      display: flex;
      flex-wrap: wrap;
    }

    &__button {
      width: 245px;
      padding: 0 50px;
      height: 40px;
      margin: 0;
      margin-left: auto;
    }
  }
}
