.example {
  background-color: #f2f2f2;
  width: 280px;
  min-height: 705px;
  margin: 0 auto;

  &__wrapper {
    width: 280px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
  }

  &__content {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    font-weight: 400;
  }

  &__results {
    width: 280px;
    display: flex;
    justify-content: space-between;
  }

  &__summ {
    width: 280px;
    text-align: center;
    display: block;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

.results-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    border: 2px solid #cdcdcd;
    border-radius: 3px;
  }

  &__fill {
    font-family: inherit;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }

  &__description {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-align: center;
  }
}

/*----Tablet version----*/
@media (min-width: 700px) {
  .example {
    width: 768px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, white 55%, #f2f2f2 55%);

    &__wrapper {
      width: 708px;
      margin: 0 auto;
    }

    &__title {
      margin-bottom: 70px;
    }

    &__content {
      width: 708px;
      margin-bottom: 57px;
    }

    &__results {
      width: 384px;
      float: left;
    }

    &__summ {
      float: right;
    }

    &__live-wrapper {
      width: 708px;
      clear: both;
    }

    &__slider {
      width: 708px;
    }
  }

  .slider-elem {
    &__before,
    &__after {
      font-family: "Oswald", sans-serif;
      font-size: 20px;
      line-height: 20px;
    }
  }
}

/*----Tablet version----*/
@media (min-width: 1200px) {
  .example {
    width: 1400px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, white 55%, #f2f2f2 55%);

    &__wrapper {
      width: 1220px;
      margin: 0 auto;
    }
  }
}
