.main-nav {
  position: relative;
  background-color: white;
  width: 320px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__button {
    position: absolute;
    top: -41px;
    right: 24px;
    width: 24px;
    height: 18px;
    border: none;
    background: none;
    cursor: pointer;
  }
}

.main-nav--closed .main-nav__button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 26px;
  height: 2px;
  background-color: black;
  box-shadow: 0 8px 0 0 black,
    0 16px 0 0 black;
}

.main-nav--open .main-nav__button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  width: 24px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
}

.main-nav--open .main-nav__button::after {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  width: 24px;
  height: 2px;
  background-color: black;
  transform: rotate(-45deg);
}

.nav-list {
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  &__item {
    padding: 25px 0;
    border-top: 1px solid #e6e6e6;
  }

  &__link {
    font-family: inherit;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
}
/*----Tablet version----*/
@media (min-width: 700px) {
  .main-nav {
    width: 516px;
    margin-left: auto;
  }

  .nav-list {
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;

    &__item {
      border-top: none;
      margin-left: 25px;
    }
  }
}
/*----Desktop version----*/
@media (min-width: 1200px) {
  .main-nav {
    margin-left: auto;
  }
}
