.main-form {
  width: 320px;

  &__title {
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    padding: 0 20px;
    margin: 0;
    width: 280px;
    border-top: 1px solid #d9d9d9;
  }

  &__list {
    width: 320px;
  }
}

.form-list {
  width: 320px;

  &__button {
    display: block;
    width: 280px;
    background-color: #68b738;
    color: white;
    padding: 12px 0;
    margin: 0 auto;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
  }

  &__required {
    display: block;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.work-list {
  width: 280px;
  padding: 0 20px;

  &__description {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__weight,
  &__name,
  &__age {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.program-list {
  width: 280px;
  padding: 0 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  min-height: 160px;

  &__element {
    display: block;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.contact-list {
  width: 280px;
  padding: 0 20px;

  &__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
  }

  &__email-wrapper,
  &__number-wrapper {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__number-enter,
  &__email-enter {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.comment-list {
  width: 280px;
  padding: 0 20px;

  &__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
  }

  &__content {
    width: 280px;
    resize: none;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.add-list {
  width: 280px;
  padding: 0 20px;

  &__title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
  }

  &__element {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

/*----Tablet version----*/
@media (min-width: 700px) {
  .main-form {
    width: 768px;
    margin: 0 auto;

    &__title {
      width: 708px;
      padding: 0 30px;
      margin: 0 auto;
      border: none;
    }
  }

  .form-list {
    width: 628px;
    padding: 0 40px;
    margin: 0 auto;

    &__worksheet {
      width: 628px;
    }
  }

  .work-list {
    width: 628px;
    padding: 0 40px;

    &__description {
      width: 100%;
    }
  }

  .program-list {
    width: 628px;
    padding: 0 40px;
  }

  .contact-list {
    width: 628px;
    padding: 0 40px;
  }

  .comment-list {
    width: 628px;
    padding: 0 40px;
  }

  .add-list {
    width: 628px;
    padding: 0 40px;
  }
}
/*----Desktop version----*/
@media (min-width: 1200px) {
  .main-form {
    width: 1440px;
    margin: 0 auto;

    &__title {
      width: 1220px;
      padding: 0 40px;
      margin: 0 auto;
      border: none;
    }
  }

  .form-list {
    width: 1220px;
    padding: 0 40px;

    &__worksheet {
      width: 1220px;
      padding: 0 40px;
    }
  }

  .work-list {
    width: 1220px;
    padding: 0 40px;

    &__description {
      width: 100%;
    }
  }

  .program-list {
    width: 1220px;
    padding: 0 40px;
  }

  .contact-list {
    width: 1220px;
    padding: 0 40px;
  }

  .comment-list {
    width: 1220px;
    padding: 0 40px;
  }

  .add-list {
    width: 1220px;
    padding: 0 40px;
  }
}
