.main-products {
  width: 320px;
  margin: 0 auto;

  &__title {
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    padding: 30px 0;
    padding-left: 20px;
    margin: 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  &__catalog {
    width: 320px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    border-bottom: 1px solid #d9d9d9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 23px;
    display: flex;
    flex-wrap: wrap;
  }

  &__img-wrapper {
    width: 140px;
  }

  &__content-wrapper {
    width: 140px;
  }

  &__content {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__fill {
    width: 140px;
  }

  &__button {
    width: 100%;
    background-color: #68b738;
    color: white;
    padding: 12px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }

  &__add-products {
    width: 280px;
    margin: 0 auto;
  }
}

.content-list {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #858585;
}

.product-list {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;

  &__title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__description {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #858585;
  }

  &__button {
    display: block;
    width: 280px;
    margin: 0 auto;
    background-color: #f2f2f2;
    color: #5b5b5b;
    padding: 12px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

/*----Tablet version----*/
@media (min-width: 700px) {
  .main-products {
    width: 768px;

    &__title {
      width: 708px;
      padding: 0 30px;
      border-top: none;
      border-bottom: none;
    }

    &__catalog {
      width: 708px;
      margin: 0 auto;
    }
  }

  .catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: 244px;
      padding: 40px;
      border: none;
    }
  }
}

/*----Tablet version----*/
@media (min-width: 1200px) {
  .main-products {
    width: 1440px;

    &__title {
      width: 1220px;
      margin: 0 auto;
      border-top: none;
      border-bottom: none;
    }

    &__catalog {
      width: 1220px;
      margin: 0 auto;
    }
  }

  .catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: 164px;
      padding: 40px;
      border: none;
    }

    &__item:not(:nth-of-type(4n+1)) {
      margin-left: 80px;
    }
  }
}
