.main-nav {
  background-color: white;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.nav-list {
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  &__item {
    padding: 25px 0;
    border-top: 1px solid #e6e6e6;
  }

  &__link {
    font-family: inherit;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
}

@media (min-width: 700px) {
  .nav-wrapper {
    width: 708px;
    min-height: 60px;
    margin-top: 27px;
    display: flex;
  }

  .main-nav {
    width: 516px;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .nav-list {
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;

    &__item {
      padding: 24px 0;
      border-top: none;
    }

    &__link {
      font-family: inherit;
      text-decoration: none;
      color: black;
      text-transform: uppercase;
    }
  }
}

