.main-products {
  width: 320px;
  margin: 0 auto;

  &__title {
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    padding: 15px 20px;
    padding-bottom: 27px;
    margin: 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  &__catalog {
    width: 320px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    border-bottom: 1px solid #d9d9d9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 23px;
    display: flex;
    flex-wrap: wrap;
  }

  &__img-wrapper {
    position: relative;
    width: 140px;
  }

  &__content-wrapper {
    width: 140px;
    min-height: 140px;
  }

  &__icon-price {
    position: absolute;
    top: 0;
    width: 140px;
    height: 140px;
  }

  &__content {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__fill {
    width: 140px;
    border-collapse: collapse;
  }

  &__button {
    width: 100%;
    background-color: #68b738;
    color: white;
    padding: 10px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: all, 0.3s;
  }

  &__button:hover,
  &__button:focus {
    background-color: #5eaa2f;
  }

  &__button:active {
    background-color: #5eaa2f;
    color: #8fc46e;
  }

  &__add-products {
    width: 280px;
    margin: 0 auto;
  }
}

.content-list {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #858585;

  &__name:last-of-type {
    text-align: right;
  }
}

.product-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 25px;

  &__button-add {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 25px;
  }

  &__button-add::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: 15px;
  }

  &__button-add::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
    top: 15px;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__description {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #858585;
    margin: 0;
    margin-bottom: 22px;
  }

  &__button {
    display: block;
    width: 280px;
    margin: 0 auto;
    background-color: #f2f2f2;
    color: #5b5b5b;
    padding: 9px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all, 0.3s;
  }

  &__button:hover,
  &__button:focus {
    background-color: #ebebeb;
  }

  &__button:active {
    background-color: #ebebeb;
    color: #c6c6c6;
  }
}

/*----Tablet version----*/
@media (min-width: 700px) {
  .main-products {
    width: 768px;
    padding-top: 53px;
    padding-bottom: 40px;

    &__title {
      width: 708px;
      padding: 0 30px;
      margin-bottom: 117px;
      border-top: none;
      border-bottom: none;
      font-size: 60px;
      line-height: 60px;
    }

    &__catalog {
      width: 708px;
      margin: 0 auto;
    }
  }

  .catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: 250px;
      padding: 37px;
      margin-bottom: 96px;
      border-bottom: none;
      background-image: linear-gradient(to top, #f2f2f2 425px, white 425px);
    }

    &__item:nth-last-of-type(1),
    &__item:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    &__content-wrapper {
      width: 100%;
    }

    &__content {
      margin-top: 175px;
      margin-bottom: 25px;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0 55px;
    }

    &__content br {
      display: none;
    }

    &__fill {
      width: 100%;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 25px;
    }

    &__fill tbody {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .content-list {
    &__value {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 5px;
      margin-bottom: 8px;
      border-bottom: 1px solid #d9d9d9;
    }
  }

  .product-list {
    background-image: none;
    border: 1px solid #f2f2f2;
    padding-top: 190px;
    text-align: center;

    &__title {
      font-size: 20px;
      line-height: 20px;
      padding-left: 41px;
      padding-right: 37px;
      margin-bottom: 27px;
    }

    &__description {
      font-size: 16px;
      line-height: 18px;
      width: 190px;
      margin-bottom: 87px;
    }

    &__button {
      width: 100%;
    }

    &__button-add {
      top: 115px;
      left: 134px;
      width: 61px;
      height: 61px;
    }

    &__button-add::before {
      width: 61px;
      top: 15px;
      left: 0;
    }

    &__button-add::after {
      width: 61px;
      top: 15px;
      left: 0;
    }
  }
}

/*----Tablet version----*/
@media (min-width: 1200px) {
  .main-products {
    width: 1220px;
    padding: 0 40px;

    &__title {
      width: 1220px;
      margin: 0 auto;
      border-top: none;
      border-bottom: none;
    }

    &__catalog {
      width: 1220px;
      margin: 0 auto;
    }
  }

  .catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: 164px;
      padding: 40px;
      border: none;
    }

    &__item:not(:nth-of-type(4n+1)) {
      margin-left: 80px;
    }
  }
}
