.page-header {
  background-color: white;
}

@media (min-width: 700px) {
  .page-header {
    width: 708px;
    height: 517px;
    padding: 0 30px;

    &__button {
      display: none;
    }

    &__image {
      width: 178px;
      height: 60px;
    }
  }
}
