.page-header {
  background-color: white;
  width: 320px;
  margin: 0 auto;

  &__logo {
    display: block;
    width: 192px;
    height: 62px;
    padding-left: 18px;
    transition: all, 0.3s;
  }

  &__logo:hover,
  &__logo:focus {
    opacity: 0.7;
  }

  &__logo:active {
    opacity: 0.5;
  }

  &__wrapper-menu {
    width: 320px;
    min-height: 65px;
  }
}
/*----Tablet version----*/
@media (min-width: 768px) {
  .page-header {
    width: 768px;


    &__button {
      display: none;
    }

    &__wrapper-menu {
      width: 708px;
      padding: 0 30px;
      padding-top: 17px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      position: relative;
      padding-left: 0;
    }

    &__image {
      position: absolute;
      width: 186px;
      height: 65px;
      left: -8px;
      top: -2px;
    }
  }
}
/*----Desktop version----*/
@media (min-width: 1300px) {
  .page-header {
    position: relative;
    width: 100%;
    margin-bottom: 70px;

    &__wrapper-menu {
      width: 1220px;
      padding-top: 52px;
      margin: 0 auto;
    }

    &__image {
      width: 209px;
      height: 63px;
      left: -4px;
    }
  }

  .page-header__only--desktop::before {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 50%;
    background-color: #7abe51;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5 dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
