.page-content {
  width: 320px;
  margin: 0 auto;
}

/*----Tablet version----*/
@media (min-width: 768px) {
  .page-content {
    width: 768px;
    margin: 0 auto;
  }
}

/*----Desktop version----*/
@media (min-width: 1300px) {
  .page-content {
    width: 1300px;
  }
}
