.programs {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 16px;

  &__wrapper {
    width: 280px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    background-color: #f2f2f2;
    padding: 20px;
    width: 240px;
    min-height: 226px;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 22px;
  }

  &__title {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 72px;
    margin-top: 10px;
    margin-bottom: 29px;
  }

  &__img {
    position: absolute;
    width: 52px;
    height: 49px;
    top: -5px;
    left: -72px;
    background-color: #68b738;
    border-radius: 50%;
    overflow: visible;
  }

  &__cat--slim::before {
    content: "";
    position: absolute;
    width: 57px;
    height: 54px;
    top: -5px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__cat--pro::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 54px;
    top: -5px;
    left: -10px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }

  &__content {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    font-weight: 400;
    padding-bottom: 22px;
    border-bottom: 2px solid #d9d9d9;
  }

  &__link {
    position: relative;
    display: inline-block;
    color: black;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 16px;
  }

  &__link:active {
    color: #c5c6c6;
  }

  &__link::before {
    position: absolute;
    content: "";
    right: -30px;
    top: 9px;
    width: 19px;
    height: 3px;
    background-color: #3e4242;
  }

  &__link::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -41px;
    border: 6px solid #3e4242;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }

  &__link:hover::before,
  &__link:focus::before {
    width: 28px;
    right: -39px;
  }

  &__link:hover::after,
  &__link:focus::after {
    right: -50px;
  }

  &__link:active::before {
    background-color: #c5c6c6;
  }

  &__link:active::after {
    border-left-color: #c5c6c6;
  }
}
/*----Tablet version----*/
@media (min-width: 768px) {
  .programs {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;

    &__wrapper {
      width: 708px;
      display: flex;
      flex-wrap: wrap;
    }

    &__list {
      width: 708px;
    }

    &__item {
      width: 708px;
      padding: 65px 0;
      padding-bottom: 60px;
    }

    &__item:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 36px;
      line-height: 37px;
      margin-left: 51px;
      margin-bottom: 25px;
    }

    &__content {
      border-bottom: none;
      width: 380px;
      min-height: 96px;
      margin-left: 50px;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 24px;
    }

    &__link {
      margin-left: 51px;
      font-size: 20px;
      line-height: 20px;
    }

    &__link::before {
      right: -44px;
    }

    &__link::after {
      right: -55px;
    }

    &__link:hover::before,
    &__link:focus::before {
      right: -53px;
    }

    &__link:hover::after,
    &__link:focus::after {
      right: -62px;
    }

    &__img {
      left: 395px;
      top: 16px;
      width: 200px;
      height: 200px;
    }

    &__cat--slim::before {
      width: 203px;
      height: 193px;
      top: -11px;
    }

    &__cat--pro::before {
      width: 270px;
      height: 130px;
      top: 37px;
      left: -35px;
    }
  }
}

/*----Desktop version----*/
@media (min-width: 1300px) {
  .programs {
    width: 1220px;
    padding: 0 40px;
    padding-top: 12px;
    min-height: 373px;

    &__wrapper {
      width: 1220px;
      padding: 0;
    }

    &__list {
      width: 1300px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__item {
      width: 570px;
      padding-left: 0;
      padding-right: 0;
      min-height: 245px;
    }

    &__item:first-of-type {
      margin-bottom: 0;
    }

    &__title {
      margin-left: 213px;
      margin-bottom: 73px;
    }

    &__content {
      width: 450px;
      margin-bottom: 0;
      padding-bottom: 0;
      min-height: 87px;
    }

    &__img {
      left: -160px;
      top: -30px;
      width: 100px;
      height: 100px;
    }

    &__cat--slim::before {
      top: -2px;
      left: 0;
      width: 96px;
      height: 96px;
    }

    &__cat--pro::before {
      top: -2px;
      left: -19px;
      width: 135px;
      height: 110px;
    }
  }
}
