.promo{
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #64a83b;
    &__title {
      font: inherit;
      color: white;
      font-size: 36px;
      line-height: 36px;
      font-weight: 400;
    }
}
